* {
    font-family: 'Russo One', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

a:visited {
    color:black;
}

span {
    color: black;
}

a:hover {
    color: #7b7b7b;
}

.container {
    text-align: center;
    width: 100%;
}

.logo__center {
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

.menu {
    margin-top: 30px;
}

.menu__ul{
    display: inline-block;
}

.menu__li {
    display: inline-block;
    font-size: 30px;
    margin: 10px 100px 10px 30px;
    line-height: 20px;
}

.menu__search {
    display: inline-block;
    margin-left: 10%;
}

.menu__cart {
    display: inline-block;
    float: right;
    margin-right: 5%;
}

.cart {
    line-height: 0px;
}

.search__submit {
    border: none;
    background: url('/img/glyphicons-28-search.png') no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-bottom: 15px;
    margin-right: 10px;
}

.search__input {
    border: none;
    background: #e5e5e5;
    line-height: 30px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.main_page {
    text-align: center;
    margin-top: 20px;

}

.main_page__img {
    width: 99.7%;
    border: 4px solid #000000;
}

.footer__container {
    display: flex;
    margin-top: 40px;
}

.footer__item {
    width: 20%;
}

.footer__logo_img {
    text-align: left;
    width: 50%;
}

.footer__social {
    text-align: left;
    margin-left: 25%
}

.item__info {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
}

.item__info_about,
.item__info_a {
    font-size: 20px;
}

.item__pay {
    width: 40%;
}

.item__info_select {
    border: 4px solid #9f9a9e;
    border-radius: 50px;
    width: 50%;
}

.footer__copyright {
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 2px solid black;
    font-size: 20px;
    margin-bottom: 20px;
    color: #9a9a9a;
}